extends layoutUser

block content
    
    .w3-container.w3-light-grey
        h3 Editar Recurso: !{recurso.titulo}
    form.w3-container(action='/recursos/editar/'+recurso._id method='POST')

        label Título: 
        input.w3-input(type="text" name="titulo" required  value=recurso.titulo)
        label Subtítulo: 
        input.w3-input(type="text" name="subtitulo" value=recurso.subtitulo)
        label Hashtags: 
        input.w3-input(type="text" name="hashtags")
        input.w3-button.w3-round.w3-black.w3-margin(type="submit" value="Enviar")
    
    footer.w3-container.w3-padding-16.w3-black
        .w3-center Recursos Académicos &copy; 2021
