extends layoutUser

block scripts
    link(rel='stylesheet' href='/stylesheets/style.css')

    script(src='/javascripts/addparam.js')
    script(Src='/javascripts/jquery-3.5.1.min.js')

block content
    
    header.w3-container.w3-light-grey
        h3 Editar Tipo de Ficheiro: !{tipo._id}

    form.w3-container(action='/tipos/editar/'+tipo._id method='POST')


        label <b>Nome:</b>
        input.w3-input(type="text" name="_id" required  value=tipo._id)
        
        fieldset(id="grupo")
        
            each t in tipo.parametros
                label <b>Nome do Parâmetro:</b> 
                input.w3-input(type="text" name="nome_param"  value=t.nome_param)
                label <b>Valor do Parâmetro:</b>
                input.w3-input(type="text" name="tipo_param"   value=t.tipo_param)
        
        input(type="hidden" id="count" name="count" value="") 

        input.w3-button.w3-round.w3-black.w3-margin(type="submit" value="Enviar")
        input.w3-button.w3-round.w3-grey.w3-margin(type="button" value="Add" onclick="addparam()")   

    footer.w3-container.w3-padding-16.w3-black
        .w3-center Recursos Académicos &copy; 2021