extends layout

block content

  .w3-container.w3-margin
    h1  Estrutura manifesto



    p O manifesto é um ficheiro com um objeto json com duas chaves

    ul 
      li ficheiros : Um array de ficheiros
      li pasta_rec : um array de pastas

    p Um ficheiro é um objeto com uma chave nome que diz o nome do ficheiro, uma chave tipo que diz o tipo do ficheiro e uma chave meta que é um array onde em cada elemento tem uma chave que é o nome do atributo da meta-data e o seu valor o seu devido valor

    p uma pasta é o objeto principal recursivamente ou seja uma chave ficheiros e outra chave pasta_rec
  


    a(href="/") Regressar 
    



    