extends layout

block content


  .w3-container.w3-margin
    h1 Recursos
    p Chegaste à homepage... 
    ul
      li  
        a(href="/recursos") Recursos
      li  
        a(href="/tipos") Tipos  
      li  
        a(href="/utilizadores") Utilizadores

      li  
        a(href="/export") Export
      li  
        a(href="/import") Import
      