extends layoutUser

block content


  .w3-container.w3-margin
    h1 Menu export
    ul
      li  
        a(href="/export/recursos") Recursos
      li  
        a(href="/export/tipos") Tipos  
      li  
        a(href="/export/utilizadores") Utilizadores
  