extends layoutUser

block content


  .w3-container.w3-margin
    h1 Menu import
    ul
      li  
        a(href="/import/recursos") Recursos
      li  
        a(href="/import/tipos") Tipos  
      li  
        a(href="/import/utilizadores") Utilizadores
