extends layoutUser

block content
            .w3-container.w3-light-grey
                h2 Upload Recurso
            

            form.w3-container(action="/recursos/novo" method="POST" enctype="multipart/form-data")
                .w3-row.w3-margin-bottom
                    .w3-col.s3
                        label.w3-text-light-grey Titulo   

                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type="text" name="titulo")

                    .w3-col.s3
                        label.w3-text-light-grey subtitulo   

                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type="text" name="subtitulo")

                    .w3-col.s3
                        label.w3-text-light-grey dataCriacao   

                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type="date" name="dataCriacao" )



                    .w3-col.s3
                        label.w3-text-light-grey Privado
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type="checkbox" name="visibilidade" value="privado")


                    .w3-col.s3
                        label.w3-text-light-grey Hashtags (separado por virgulas)   

                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type="text" name="hashtags")



                input.w3-btn.w3-blue-grey(type="submit" value="Submit")

                .w3-row.w3-margin-bottom
                    .w3-col-s3
                        label.w3-text-light-grey Select file
                                  
                    .w3-col.s9.w3-border
                        input.w3-input.w3-border.w3-light-grey(type="file" name="myFile")    


                
