extends layoutUser

block scripts
    link(rel='stylesheet' href='/stylesheets/style.css')

    script(src='/javascripts/addparam.js')
    script(Src='/javascripts/jquery-3.5.1.min.js')

block content

    header.w3-container.w3-light-grey
        h3 Inserir Novo Tipo
        
    form.w3-container(action="/tipos/novo" method="POST")
        .w3-row.w3-margin-bottom

            .w3-col.s3
                label.w3-text-black 
                    b Nome:   
                
            .w3-col.s12.w3-border
                input.w3-input.w3-border.w3-light-grey(type="text" name="_id" required)
        
        fieldset(id="grupo")

            .w3-col.s12
                label.w3-text-black(for='nome')
                    b Nome do Parâmetro:

            .w3-col.s12.w3-border
                input.w3-input.w3-border.w3-light-grey(type="text" name="nome_param" required)

            .w3-col.s12
                label.w3-text-black(for='tipo')
                    b Valor do Parâmetro:

            .w3-col.s12.w3-border
                input.w3-input.w3-border.w3-light-grey(type="text" name="tipo_param" required)

        input(type="hidden" id="count" name="count" value="")   

        input.w3-button.w3-round.w3-black.w3-margin(type="submit" value="Enviar")
        input.w3-button.w3-round.w3-grey.w3-margin(type="button" value="Add" onclick="addparam()")
    
    footer.w3-container.w3-padding-16.w3-black
        .w3-center Recursos Académicos &copy; 2021