extends layoutUser

block content

  .w3-container.w3-margin
    h1  Erro de parâmetros (manifesto)

    p Especificou um parâmentro que não existe a um ou mais ficheiros

    a(href="/") Regressar 
    



    