extends layoutUser

block content

  .w3-container.w3-margin
    h1  Sem permissões para fazer esta ação o seu nível é #{user.nivel}

    ul  
      li 0- Consumidor
      li 1- Produtor
      li 2- Admin
  



    