extends layoutUser

block content

  .w3-container.w3-margin
    h1  Sem permissões para fazer esta ação o seu nível é #{user.nivel}

    ul  
      li 1- Consumidor
      li 2- Produtor
      li 3- Admin
  



    